.DS_Store
1cManager/
backup/
base-xml-manager/
files/
java/
license/
orderManager/
pageHTML/
payment/


phpshop/*
!phpshop/modules
phpshop/modules/*
!phpshop/modules/mandarinhosted


rss/

## UserFiles folder

UserFiles/Files
UserFiles/Image/Trial
UserFiles/Image/.tmb
UserFiles/Image/.quarantine
UserFiles/Image/Payments/*
!UserFiles/Image/Payments/mandarin_logo.png

yml/
.htaccess
404.html
apple-touch-icon.png
favicon.ico
index.php
robots.txt
